* {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
}

.flatiron {
  background-image: url("./the-flatiron-building.png");
  color: white;
}

a {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.Copyright {
  background-color: dimgray;
}

#small {
  text-align: left;
  color: white;
  font-size: 11px;
}
